In [3]:
import pandas as pd

# Load the CSV files
df1 = pd.read_csv('q2/students.csv')
df2 = pd.read_csv('q2/subjects.csv')

# Merge the dataframes on 'studentId'
df = pd.merge(df1, df2, on='studentId')

# Group by 'class' and calculate the unique subjects
class_subject_counts = df.groupby('class')['subject'].nunique().reset_index()

# Sort by the 'subject' count in ascending order
sorted_counts = class_subject_counts.sort_values(by='subject')

# Get the first 3 values and format them as a comma-separated string

sorted_counts.head(3)

    class  subject
215    6H       37
293    9H       58
104    2A      131

In [2]:
result = ','.join(map(str, sorted_counts['subject'].head(3)))
result

'37,58,131'